@charset "utf-8";

/*========= 上部固定させるためのCSS ===============*/
#header{
	height: 70px;/*高さ指定*/
	width:100%;/*横幅指定*/
	/*以下はレイアウトのためのCSS*/
	display: flex;
	justify-content: space-between;
	align-items: center;
	background:#333;
	color:#fff;
	text-align: center;
	padding: 20px;
}

/*JSを使いfixedクラスが付与された際の設定*/
#header.fixed{
	position: fixed;/*fixedを設定して固定*/
    z-index: 999;/*最前面へ*/
    top:0;/*位置指定*/
    left:0;/*位置指定*/
}


/*========= レイアウトのためのCSS ===============*/

h1{
	font-size:1.2rem;
}

h2{
	font-size:1.2rem;
	text-align: center;
	margin: 0 0 30px 0;
}

p{
	margin-top:20px;	
}

small{
	background:#333;
	color:#fff;
	display: block;
	text-align: center;
	padding:20px;
}



nav ul{
	list-style: none;
	display: flex;
	justify-content: center;
}

nav ul li a{
	display: block;
	text-decoration: none;
	color: #666;
	padding:10px;
	transition:all 0.3s;
}

nav ul li.current a,
nav ul li a:hover{
	color:#fff;	
}


section{
	padding:30px;
}

section:nth-child(2n){
	background:#f3f3f3;	
}

