@charset "utf-8";

/*== 線の上を別の線が伸びる */

.btnlinestretches4{
    /*線の基点とするためrelativeを指定*/
	position:relative;
    /*リンクの形状*/ 
	color:#333;
    padding: 10px 50px 10px 30px;
	
	display:inline-block;
    text-decoration: none;
    outline: none;
}

/*線の設定*/
.btnlinestretches4::before,
.btnlinestretches4::after{
	content:'';
    /*絶対配置で線の位置を決める*/
	position:absolute;
	z-index:1;
	bottom:0;
	left:0;
     /*線の形状*/   
	background:#333;
	width:100%;
	height:2px;
    /*アニメーションの指定*/
	transition:all 0.3s ease-in-out;
}

 /*hover時に伸びる線の形状*/   
.btnlinestretches4::after{
	width:0;
	background:#ccc;
}

 /*hover時に100%に伸びる*/   
.btnlinestretches4:hover::after {
	width:100%;
}

 /*矢印の設定*/   
.btnlinestretches4 span::after {
    content: '';
    /*絶対配置で矢印の位置を決める*/
    position: absolute;
    top: 1.3em;
    right: 20px;
    /*矢印の形状*/   
    width: 5px;
    height: 5px;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    transform: rotate(45deg);
    /*アニメーションの指定*/
    transition: all .3s;
}

/*hover時に矢印が移動*/   
.btnlinestretches4:hover span::after {
	right:15px;
}

/*========= レイアウトのためのCSS ===============*/

body{
    vertical-align:middle; 
    padding: 100px 0;
    text-align: center;
}

p{
    margin: 0 0 10px 0;
}
